version: "3.7"

services:
  db:
    image: mysql:8
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_DATABASE: postal
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - "./db/init:/docker-entrypoint-initdb.d"
      - "./db/mysql:/var/lib/mysql"
    ports:
      - 3306:3306
  adminer:
    image: adminer
    restart: always
    ports:
      - 8000:8080
  server:
    container_name: postal_server
    build:
      context: ./server
      dockerfile: Dockerfile
    volumes:
      - "./server:/home/app"
    ports:
      - 8080:8080
  web:
    container_name: postal_web
    build:
      context: ./web
      dockerfile: Dockerfile
    volumes:
      - "./web:/web"
      - "/web/node_modules"
    ports:
      - 3000:3000
    environment:
      - CHOKIDAR_USEPOLLING=true
